<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
</head>
<body>
    <form method="post" action="/user/new">
        <div>
            <label for="emails">Emails</label>
            <input type="text" id="emails" name="email" placeholder="enter unique emails"/>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="enter unique emails"/>
        </div>
        <div>
            <label for="pass">Password</label>
            <input type="password" id="pass" name="password" placeholder="enter password"/>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>